name: Security Check

on:
  push:
    branches: [ "main" ]

jobs:
  my-security-scan:
    runs-on: ubuntu-latest

    steps:
      # Обновил до v4
      - name: Checkout code
        uses: actions/checkout@v4

      # Обновил до v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install bandit jinja2 requests

      - name: Run Bandit Scan
        run: |
          bandit -r . -f json -o bandit_report.json || true

      - name: Generate HTML Report
        run: |
          python security_reporter/main.py --bandit bandit_report.json

      # ГЛАВНОЕ ИСПРАВЛЕНИЕ: v3 -> v4
      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: Security-HTML-Report
          path: output/security_report.html